name: rust
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - 'rust-toolchain.toml'
      - '.clippy.toml'
      - '.rustfmt.toml'
permissions:
  contents: read
jobs:
  fmt:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt
          cache: true
      - run: cargo fmt --all --check
  clippy:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-slim
    timeout-minutes: 10
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # staging
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: clippy
          cache: true
      - run: cargo clippy --workspace -- -D warnings
  test:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # staging
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          cache: true
      - run: cargo test --workspace
